{% block element %}
    {% set grid = element.grid %}
    {% set count = grid.storage.count %}

    <div class="grid-toolbar clearfix">
        {#elements#}
        <div class="pull-left">
            {% for item in element.elements %}
                {{item.render|raw}}
            {% endfor %}
        </div>

        <div class="pull-right">
            {#buttons#}
            {% if element.buttons %}
                {% for container in element.buttons %}
                    <div class="btn-group pull-left" style="margin-left: 10px;">
                        {% for button in container %}
                            {{button.render|raw}}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock  element%}