{% block element %}
    <a rel="nofollow" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="{{element.hint}}" href="{{element.href}}">
        <i class="glyphicon glyphicon-{{element.icon}}"></i>
        {{element.title}}
    </a>
{% endblock  element%}